<!doctype html>
<html>

<head>
  <title>21 Savage Fan Site</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body id="profile">
  <div class="container">

    <div class="page-header text-center">
      <h1>⚽️
        <%= user.local.email %>'s Page⚽️
      </h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-6">

      </div>
      <div class="col-sm-6">
        <h3>Match Reminders</h3>
        <ul class="Fan">
          <% for(var i=0; i<Fan.length; i++) {%>
            <li class="message">
              <span>
                <%= Fan[i].name %>
              </span>
              <span>
                <%= Fan[i].msg %>
              </span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
            <% } %>
        </ul>

        <h2>Add a Reminder</h2>
        <% if (user.local.email) { %>
          <form action="/Fan" method="POST">
            <input type="text" placeholder="message" name="msg">
            <button type="submit">Submit</button>
          </form>
      </div>
      <% } %>

    </div>
    <label for="teams">Select a Premier League team:</label>
    <select id="teams" onchange="goToTeam()">
      <option value="">--Choose a team--</option>
      <option value="/team/Arsenal">Arsenal</option>
      <option value="/team/Astonvilla">Aston Villa</option>
      <option value="/team/Brentford">Brentford</option>
      <option value="/team/Brighton">Brighton &amp; Hove Albion</option>
      <option value="/team/Burnley">Burnley</option>
      <option value="/team/Chelsea">Chelsea</option>
      <option value="/team/Crystalpalace">Crystal Palace</option>
      <option value="/team/Everton">Everton</option>
      <option value="/team/Leeds">Leeds United</option>
      <option value="/team/Leicester">Leicester City</option>
      <option value="/team/Liverpool">Liverpool</option>
      <option value="/team/ManchesterCity">Manchester City</option>
      <option value="/team/ManchesterUnited">Manchester United</option>
      <option value="/team/Newcastle">Newcastle United</option>
      <option value="/team/Norwich">Norwich City</option>
      <option value="/team/Southampton">Southampton</option>
      <option value="/team/Tottenham">Tottenham Hotspur</option>
      <option value="/team/Watford">Watford</option>
      <option value="/team/Westham">West Ham United</option>
      <option value="/team/Wolves">Wolverhampton Wanderers</option>
    </select>
    <div class="well" id="info">
      <h3><span class="fa fa-user"></span>Your Info</h3>

      <% if (user.local.email) { %>
        <p>
          <strong>email</strong>: <%= user.local.email %><br>
        </p>

        <a href="/unlink/local" class="btn btn-default">Unlink</a>
        <% } else { %>
          <a href="/connect/local" class="btn btn-default">Connect Local</a>
          <% } %>

    </div>

    <script src="main.js"></script>

</body>

</html>